@import 'vendor/bootstrap/bootstrap.min.css';

.header {
  padding: 1em 0;
}

table, th, td {
  padding: 0 0.5em;
  border: solid 1px #000;
}

th {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 6em;
}